/* Amburadul css by AkuraDiary*/

.formnya-history{
    /* make it at center */
    padding: 40px 0 !important;
    max-width: 98% !important;
    border: #212529 !important;
    text-align: center;
    padding-bottom: 0px !important;
    border-radius: 0.50rem !important;
}

#tested{
    margin-bottom: 10px !important;
}